<!DOCTYPE  html>
<title>WEKCOME TO WEB-SCRAPING</title>
<head>
<link rel="stylesheet" type="text/css" href="E:/Github_projects/Web_Scrap/static/style.css">
</head>

<body>

<ul>
  <li><a class="active" href="#home">HOME</a></li>
  <li><a href="#news">PYTHON </a></li>
  <li><a href="#contact">FLASK</a></li>
  <li><a href="#about">CSS</a></li>
</ul>

<font class="uk">
<h1><marquee behavior="alternate">WEB SCRAPING ! TOP {{value}} IMDB MOVIES DETAIL</marquee></h1>
<h2 class="bob"> Type an Integer:</h2>
<form method ="get "  >
  <input type="text " name={{value}} placeholder={{vlaue}} >
  <button type="submit">SUBMIT</button>
  </form>

</font>
</body>

</html>
